.user-profile {
  display: flex;
  flex-direction: column;
}

.user-profile {
  height: 100vh;
   /* Fallback color */
   
}

.profile-header {
  width: 100%;
  display: flex;
  align-items: center;
}

.profile-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.profile-header-top {
  display: flex;
  align-items: center;
}
 .username{
  font-size: 60px;
  color: #812B00;
}
.profile-image {
  margin: 5px;
  background-color: azure;
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
  border-radius: 50%; /* Make it circular */
}

.followers,
.following {
  margin-left: 20px; /* Adjust as needed */
  margin-top: 10px; /* Add margin-top to push them to the next line */
}


.wallet-social {
  margin-top: 20px; /* Adjust as needed */
}

.profile-details {
  width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
}

.hold-time,
.wallet-score,
.wallet-traits {
  /* Add styling as needed */
  margin-top: 20px;
 
}


.profile-header-top {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.followers,
.following {
  margin-top: 10px;
}

.username {
  font-size: 60px;
  color: #EEFCFF;
}

.followers,
.following {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: #fafa6e;
  color: #000000;
  opacity: 0.7;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.wallet-score, .wallet-traits{
  margin-left: -140px;
}